.one {
    background-color: #1F2937;
    padding-left: 128px;
    padding-right: 128px;
}

.logo {
    color: #F9FAF8;
    font-size: 24px;
}

header {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

nav {
    font-size: 18px;
    color: #E5E7EB;
}

ul, ol {
    list-style: none;
    padding: none;
    margin: none;
    display: flex;
    gap: 16px;
}